.navbar {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* helps when items overflow on small screens */
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  gap: 20px;
  list-style: none;
  color: #49557e;
  font-size: 18px;
}

.navbar-right {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navbar button {
  background-color: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tan;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #fff4f2;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}

.navbar li {
  cursor: pointer;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  top: -8px;
  right: -8px;
  min-width: 10px;
  min-height: 10px;
  background-color: #ff6e4e;
  border-radius: 50%;
}

/* ----------- RESPONSIVE ------------ */
@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }

  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }

  .navbar-right {
    gap: 30px;
  }

  .navbar-right img {
    width: 22px;
  }

  .navbar-right button {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }

  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }

  .navbar-right {
    gap: 20px;
  }

  .navbar-right img {
    width: 20px;
  }

  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 700px) {
  .navbar-menu {
    display: none;
  }
  .navbar{
     justify-content: space-between; /* keeps logo left, icons right */
    padding: 15px 20px;
  }
}
